body {
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 10px 0 50px 50px;
	width: 400px;
}
h3 {
	font-size: 20px;
}
h4 {
	padding: 20px 0 5px 0;
	margin: 0;
}
a {
	border-bottom: 1px solid #aaa;
	color: #000;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid #000;
}
table {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
ul#content {
	line-height: 16px;
	padding: 0;
}
ul#content li {
	padding-bottom: 10px;
}
li {
	list-style: square;
	padding: 2px 0;
}
p.top {
	margin-top: 40px;
}
p.bottom {
	margin-bottom: 40px;
}
span.code {
	font-family: Monospace;
	font-size: 13px;
}
span.code.block {
	background: #eee;
	display: block;
	margin: 10px 0;
	padding: 10px 15px;
}
span.statement {
	font-weight: 700;
	/*color: #00008b;*/
}
span.integer {
	color: #2b91af;
}
span.defName {
	color: #990000;
}
span.indention {
	left: 20px;
	position: relative;
}
.pass {
	color: #2b91af;
}
.lowpass {
	color: #990000;
}
.fail {
	color: #990000;
}