body {
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 10px 0 50px 50px;
	width: 400px;
}
h3 {
	font-size: 20px;
}
h4 {
	padding: 20px 0 5px 0;
	margin: 0;
}
a {
	border-bottom: 1px solid #aaa;
	color: #000;
	text-decoration: none;
}
a:hover {
	border-bottom: 1px solid #000;
}
table {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
#content {
	line-height: 16px;
	padding: 0;
}
#content li {
	list-style: square;
	padding: 8px 0;
}
.top {
	margin-top: 40px;
}
.bottom {
	margin-bottom: 40px;
}
.code {
	font-family: Monospace;
	font-size: 13px;
}
.code.block {
	background: #eee;
	display: block;
	margin: 10px 0;
	padding: 10px 15px;
}
.statement {
	font-weight: 700;
}
.integer {
	color: #c82829;
}
.defName {
	color: #2b91af;
}
.ind {
	left: 20px;
	position: relative;
}
#legend,
#progress,
#content {
	position: relative;
	padding-top: 20px;
}
#legend {
	padding-left: 0;
}
#legend li {
	list-style: none;
}
#legend div {
	height: 3px;
	margin-top: 6px;
	margin-right: 10px;
	width: 20px;
}
#legend li div,
#legend li div span {
	float: left;
}
#legend .pass {
	background: #2b91af;
}
#legend .fail {
	background: #c82829;
}
#legend .timeout {
	background: #000000;
}
#progress,
#progress .bar {
	height: 3px;
}
#progress .bar {
	border-left: 1px solid #aaa;
	float: left;
}
.bar {
	float: left;
	margin-bottom: 1px;
}
#content .pass {
	color: #2b91af;
}
#content .fail {
	color: #c82829;
}
#adminTable td {
	padding-right: 15px;
}