​<!DOCTYPE html>
<html>
	<head>
		<title>Gauss</title>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
	</head>
  <body>
    <div id='wrapper'>
    	<h3>Gauss</h3>
    	<p>
    		Gauss is a web application for running, analyzing, and recording <a href='http://projecteuler.net/'>Project Euler</a> algorithms. All calculations are performed at run-time.
    	</p>
    	<p>
    		Gauss is being developed by <a href='http://www.gregorygundersen.com'>Gregory Gundersen</a> using the Google App Engine platform. The application uses the webapp2 framework, Python 2.7, and jinja2.
    	<p>
    		<a href='/problems' class='welcome'>Welcome</a>
    	</p>
    </div>
  </body>
</html>