<!DOCTYPE html>
<html>
<head>
    <title>Gauss</title>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <script src='/js/main.js'></script>
</head>
  <body>
    <h3>Gauss</h3>
    <h4>Intro</h4>
    <p>
        Gauss is a web application for testing, analyzing, and documenting <a href='http://projecteuler.net/'>Project Euler</a> solutions and associated libraries. All calculations are performed at runtime.
    </p>
    <p>
        <a href='/test=problem&q=all'>Run the test suite</a>.
    </p>
    <!--<p>
        <a href='/test=gmath&q=all'>Unit test</a> the <span class='code'>gmath</span> library.
    </p>-->
    <h4>The <span class='code'>gmath</span> library</h4>
    <p>
        While Project Euler problems are standalone, many of them rely on common mathematical functions. These recurring functions are abstracted away by the <span class='code'><a href='https://github.com/ggundersen/Gauss/blob/master/lib/gmath.py'>gmath</a></span> library, resulting in cross-problem performance gains. A trivial example:
        <span class='code block'>
         <span class='statement'>def</span> <span class='defName'>factorial</span>(n):<br>
            <span class='indention'>
             <span class='statement'>if</span> n == <span class='integer'>1</span>:<br>
                <span class='indention'><span class='statement'>return</span> <span class='integer'>1</span><br></span>
            <span class='statement'>else</span>:<br>
                <span class='indention'> <span class='statement'>return</span> n * factorial(n-<span class='integer'>1</span>)</span>
            </span>
        </span>
        was refactored to be
        <span class='code block'>
            <span class='statement'>def</span> <span class='defName'>get_factorial</span>(n):<br>
            <span class='indention'>
                facts = [<span class='integer'>1</span>, <span class='integer'>1</span>]<br>
                <span class='statement'>for</span> i <span class='statement'>in</span> range(<span class='integer'>2</span>, n+<span class='integer'>1</span>):<br>
                    <span class='indention'>facts.append(facts[i-<span class='integer'>1</span>] * i)<br></span>
                <span class='statement'>return</span> facts[n]
            </span>
        </span>
        The latter is orders of magnitude faster for large values of <span class='code'>n</span> and optimized multiple solutions.
    </p>
    <h4>&c.</h4>
    	Gauss is being developed on the Google App Engine platform. The application uses the webapp2 framework, Python 2.7, JavaScript, jQuery, and jinja2.
    </p>
    <p class='top'>
        <span class='code'>2013-09-02 : <a href='http://www.gregorygundersen.com'>gwg</a></span>
    </p>
</body>
</html>
