​<!DOCTYPE html>
<html>
	<head>
		<title>Gauss</title>
    <link rel='stylesheet' type='text/css' href='/css/main.css' />
	</head>
  <body>
    <h3><a href='http://projecteuler.net/problems'>Problems</a></h3>
    <a href='/'>Back</a>
    <p class='top'>

    </p>
    <p>
      For every problem, there is a form field and a submit button. The value of the form will be the variable used in calculating the solution. You are encouraged to run the calculation multiple times with multiple inputs to better understand the relationship between the variable and the runtime.
    </p>
    <p>
      Gauss will never reveal, even in pseudocode, a problem's solution or algorithm. But in certain cases in which a trivial algorithm&#8212;an obvious, brute-force method, for example&#8212;fails due to runtime, this may be documented and explained. Here, the user will hit a computational wall long before the actual solution can be calculated (respecting Project Euler's "one-minute rule", Gauss will timeout accordingly).
    </p>
    <p class='bottom'>
      Climbing the computational wall is an exercise left to the reader.
    </p>
    <ul>
      <!--{% for problem in problem_set %}
      <li><a href='/problems/{{ problem.href }}'>{{ problem.caption }}</a></li>
      {% endfor %}-->
      <li>
        <a href='/problems/pe1'>Problem 1</a>
      </li>
      <li>
        <a href='/problems/pe2'>Problem 2</a>
      </li>
      <li>
        <a href='/problems/pe5'>Problem 5</a>
      </li>
    </ul>
  </body>
</html>