<!DOCTYPE html>
<html>
	<head>
		<title>Gauss - {{ problem_title }}</title>
		<meta name='{{ problem_id }}' />
		<link rel='stylesheet' type='text/css' href='/css/main.css'/>
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
		<script src='/js/gauss.js' type='text/javascript'></script>
	</head>
	<body>
		<h3><a href='http://projecteuler.net/problem={{ problem_num }}'>{{ problem_title }}</a></h3>
		<a href='/test=all'>Back</a>
		<div id='content'>
		</div>
	</body>
</html>