​<!DOCTYPE html>
<html>
	<head>
		<title>Gauss - {{ problem_title }}</title>
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
		<script src='http://d3js.org/d3.v3.min.js' charset='utf-8'></script>
		<script src='/js/{{ js_path }}' type='text/javascript'></script>
		<link rel='stylesheet' type='text/css' href='/css/{{ css_path }}' />
	</head>
  <body>
  	<h3>{{ problem_title }}</h3>
 		<a href='/problems'>Back</a>
   	<p>Runtime: {{ runtime }} seconds</p>
   	<p>Answer: {{ answer }}</p>

   	<button class='run'>Run</button>
   	<!-- separate <div id='content'></div> for each problem -->
		{% block content %}{% endblock %}

  </body>
</html>