<!DOCTYPE html>
<html>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'/>
		<title>Gauss - Test Suite</title>
		<link href='/css/main.css' rel='stylesheet' type='text/css'/>
		<script src='/js/main.js'></script>
	</head>
	<body>
		<h3>Test Suite</h3>
		<a href='/'>Back</a>
		<ul id='legend'>
			<li><div class='pass'></div><span>pass</span></li>
			<li><div class='fail'></div><span>fail or slow (>30 s)</span></li>
			<li><div class='timeout'></div><span>timeout (>60 s)</span></li>
		</ul>
		<div id='progress'></div>
		<ul id='content'></ul>
	</body>
</html>
