​<!DOCTYPE html>
<html>
	<head>
		<title>Gauss - {{ problem_title }}</title>
		<script src='/js/gauss.js' type='text/javascript'></script>
		<script src='/js/{{ js_path }}' type='text/javascript'></script>
		<link rel='stylesheet' type='text/css' href='/css/{{ css_path }}' />
	</head>
  <body>
  	<h3><a href='http://projecteuler.net/problem={{ problem_num }}'>{{ problem_title }}</a></h3>
 		<a href='/problems'>Back</a>
   	<!--<p>Runtime: {{ runtime }} seconds</p>
   	<p>Answer: {{ answer }}</p>-->

   	<!-- separate <div id='content'></div> for each problem -->
		{% block content %}{% endblock %}

  </body>
</html>